fastapi>=0.104.0
uvicorn[standard]>=0.24.0
python-dotenv>=1.0.0
pydantic>=2.0.0
email-validator
python-multipart
oracledb
openai
langchain
langchain-community
langchain-openai
langchain-text-splitters
qdrant-client[fastembed]
fastembed
pypdf
sklearn